// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-icon {
  color: var(--ion-color-primary) !important;
}
ion-toolbar {
  --background: #ffffff;
  --ion-color-base: #ffffff !important;
}
.header {
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
}
.header:after {
  background-image: none;
}
body {
  font-size: 14px !important;
}
.swiper-pagination-bullet {
  background: #262626;
  padding: 3px;
}
.swiper-pagination-bullet-active {
  background: var(--bullet-background-active);
  padding: 5px;
}
ion-card-title {
  padding-bottom: .5rem;
}
ion-row {
  align-items: center;
}
.ttl {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}