// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700');

// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content {
  --background: #f8f8f8;
}

ion-icon {
  color: var(--ion-color-primary);
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --ion-color-base: #ffffff !important;
  ion-icon {
    color: #fff;
  }
  ion-menu-button {
    color: #fff;
  }
  ion-title {
    color: #fff;
    text-transform: uppercase;
  }
}

ion-card {
  --background: #fff !important;
}

ion-card-title {
  padding-bottom: .5rem;
}

ion-row {
  align-items: center;
  cursor: pointer;
}

.sidemenu {
  --background: #fff !important;
}

.menu-item {
  cursor: pointer;
}

.logo {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin: 0 25% 10% 25%;
}

.header:after {
  background-image: none;
}

body {
  font-size: 14px !important;
}

.swiper-pagination-bullet {
  background: #262626;
  padding: 3px;
}

.swiper-pagination-bullet-active {
  background: var(--bullet-background-active);
  padding: 5px;
}

.ttl {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}