<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary" *ngIf="editMode">
      <ion-button (click)="changeEditMode()" class="close-button">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table *ngIf="!editMode">
    <tr><td>Nombre</td><td>Categoría</td><td>Aporte</td><td>Estado</td><td>Acciones</td></tr>
    <tr *ngFor="let t of teams">
      <td>{{t.name | uppercase}}</td>
      <td>{{t.category.name | uppercase}}</td>
      <td>{{t.amount || 0}}</td>
      <td>{{t.amount <= 400 ? 'No' : t.amount > 400 && t.amount <= 600 ? 'Si' : 'Re si'}}</td>
      <td>
        <ion-button size="small" fill="clear" (click)="changeEditMode(t)"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button size="small" fill="clear" (click)="askForRemove(t)"><ion-icon name="trash"></ion-icon></ion-button>
      </td>
    </tr>
  </table>

  <form [formGroup]="teamForm" (ngSubmit)="edit()" *ngIf="editMode">
    <ion-item>
      <ion-label position="stacked">Nombre de equipo</ion-label>
      <ion-input type="text" name="name" formControlName="name" autofocus (keyup.enter)="edit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Aporte</ion-label>
      <ion-input type="number" name="amount" formControlName="amount" (keyup.enter)="edit()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Período</ion-label>
      <ion-select placeholder="Seleccionar período" (ionChange)="periodChange($event)" formControlName="period">
        <div *ngFor="let m of months">
          <ion-select-option value="m.value" required>{{m.name | uppercase}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select placeholder="Seleccionar categoría" (ionChange)="categoryChange($event)" formControlName="category">
        <div *ngFor="let c of categories">
          <ion-select-option [value]="c.key" required>{{c.name | uppercase}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-button class="btn btn-primary" expand="block" type="submit" [disabled]="teamForm.invalid"
      block>Editar</ion-button>
  </form>
</ion-content>
