<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!editMode"></ion-menu-button>
      <ion-button (click)="changeEditMode()" class="close-button" *ngIf="editMode">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!editMode">Home</ion-title>
    <ion-title *ngIf="editMode">Editar equipo</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="showFilter()" *ngIf="!editMode">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500" placeholder="Buscar..." [(ngModel)]="searchText" (ionChange)="searchTeam()" *ngIf="!editMode"></ion-searchbar>

  
  <ion-card *ngIf="!editMode">
    <div class="ttl">Equipos</div>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-row>
          <ion-col>Nombre</ion-col>
          <ion-col text-center>División</ion-col>
          <ion-col text-center>Aporte anual</ion-col>
          <ion-col text-center *ngIf="isLoggedIn">Editar</ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row *ngFor="let t of filteredTeams; let i = index" (click)="openModal(t)">
        <ion-col>{{t.name | uppercase}}</ion-col>
        <ion-col text-center>{{t.division.name | uppercase}}</ion-col>
        <ion-col text-center>${{t.totalAmount}}</ion-col>
        <ion-col text-center *ngIf="isLoggedIn">
          <ion-button size="small" fill="clear" (click)="changeEditMode(t)"><ion-icon name="create"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="editMode">
    <ion-card-content>
      <form [formGroup]="teamForm" (ngSubmit)="edit()" *ngIf="editMode">
        <ion-item>
          <ion-label position="stacked">Nombre de equipo</ion-label>
          <ion-input type="text" formControlName="name" autofocus (keyup.enter)="edit()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">División</ion-label>
          <ion-select formControlName="division" [value]="selectedDivision">
            <ion-select-option *ngFor="let d of divisions" value="{{d.key}}">{{d.name | uppercase}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" class="sbm" type="submit" [disabled]="teamForm.invalid" block>Editar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
